<html>
  <body>
    <form action="post_process.php" method="post">
      Name: <input type="text" name="name" value={{name}}><br><br>
      Gender: <input type="radio" name="gender" value="M" {% if gender == "M" %} checked=checked {% endif %}> Male <input type="radio" name="gender" value="F" {% if gender == "F" %} checked=checked {% endif %}> Female<br><br>
      Age: <input type="text" name="age" value={{age}}><br><br>
      {% if id is empty %}<input type="hidden" name="action" value="create">{% else %}<input type="hidden" name="action" value="edit"><input type="hidden" name="id" value={{id}}>{% endif %}
      <input type="submit" name="submit">
    </form>
    
    {% for i in queryData %}
    {% if i is not empty %}
    Name : {{i.Name}} <br>
    Age : {{i.Age}} <br>
    Gender : {{i.Gender}} <br>

    <a href= "delete.php?id={{i._id}}">Delete</a> . 
    <a href="update.php?id={{i._id}}">Update</a>
    <hr>
    {% endif %}
    {% else %}
    There is no entry in the list.
    {% endfor %}
</html>